.App{
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  height: 900px;
}
.card-price{
  font-size: 36px;
}
.period{
  font-size: medium;
}
li{
  margin-top: 2rem;
  font-size: large;
}
.btn{
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
}
@media  (max-width: 850px) {
  .App{
    height: 2500px;
  }

}
